---
name: Checks

on: [push]

jobs:
    test-lint:
        name: Test and lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Test
              # Gunakan "docker compose" (tanpa tanda hubung)
              run: docker compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test"
 
            - name: lint
              # Gunakan "docker compose" (tanpa tanda hubung)
              run: docker compose run --rm app sh -c "flake8"
